{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <header class="indexheader">
    <div>
      <h2 class="headertext">{{ title }}</h2>
    </div>
  </header>

  <div class="container">

 {% if profile %}
   <hr>
   <div class="row">
     <div class="col-xs-4">
       <img style="float: right;" src="{{ profile.avatar_url }}" alt="{{ profile.displayName }}">
     </div>

     <div class="col-xs-8">
       <h3>Welcome {{ profile.display_name }}!</h3>
     </div>
   </div>
 {% endif %}
  <h3>Graph Out Your Competition With Smashtag!</h3>
  <p>Watch what the world is talking about! Enter some hashtags and watch a real-time comparison of tweets as they come in. This app can be used to compare which companies, candidates, or celebrities are crushing the pubic discourse.</p>
 </div>

{% endblock %}
