body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.navbar {
    margin-bottom: 0;
    background-color: #3991d4;
    border: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover {
    color: #0e507f !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

.tweetbox {
  margin: 10px;
  border: black 3px solid;
  border-radius: 5px;
  padding: 5px;
}

section {
  margin: 5px;
  padding: 5px;
}
